.end_otsu {
	width: 300px;
	position: relative;
	left: 20%
}

.kakugen_title {
	text-align: center;
	font-size: 20pt;
}

.kakugen_text {
	font-size: 30pt;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	width: 1200px;
}

.end_top {
	position: relative;
	bottom: 0px;
	left: 70%;
	width: 90px;
	height: 60px;
}

body {
	background-color: #89e5c1;
	font-family: "繝偵Λ繧ｮ繝惹ｸｸ繧ｴ Pro W4", "繝偵Λ繧ｮ繝惹ｸｸ繧ｴ Pro",
		"Hiragino Maru Gothic Pro", "繝偵Λ繧ｮ繝手ｧ偵ざ Pro W3",
		"Hiragino Kaku Gothic Pro", "HG荳ｸ�ｽｺ�ｾ橸ｽｼ�ｽｯ�ｽｸM-PRO",
		"HGMaruGothicMPRO";
	color: #f5385e;
}

a:link {
	color: #f5385e;
	text-decoration: none
}

a:visited {
	color: #f5385e;
	text-decoration: none
}

a:hover {
	color: #f5385e;
	text-decoration: none
}

a:active {
	color: #f5385e;
	text-decoration: none
}

input, textarea{
	background-color: #eeeeee;
}

input[type="radio"] {
	display: none; 	/* ラジオボタンを非表示にする */
}

.text {
	
}

/* 譫�縺斐→ */
#title-area {
	margin-top: 20%;
	text-align: center;
}

#form {
	
}

#url-area {
	
}

/* 謚ｼ縺励◆諢溘�ｮ縺ゅｋ繝懊ち繝ｳ */
.square_btn {
	display: inline-block;
	position: relative;
	padding: 0.1em 1em;
	text-decoration: none;
	background: #ffabbc; /*繝懊ち繝ｳ濶ｲ*/
	color: #f5385e;
	border-bottom: solid 9px #ef1a49; /*繝懊ち繝ｳ濶ｲ繧医ｊ證励ａ縺ｫ*/
	border-right: solid 9px #f5385e; /*繝懊ち繝ｳ濶ｲ繧医ｊ證励ａ縺ｫ*/
}

.square_btn:before {
	content: " ";
	position: absolute;
	bottom: -9px;
	left: -1px;
	width: 0;
	height: 0;
	border-width: 0 10px 10px 0px;
	border-style: solid;
	border-color: transparent;
	border-bottom-color: #89e5c1; /*閭梧勹莨ｼ蜷医ｏ縺帙ｋ */
}

.square_btn:after {
	content: " ";
	position: absolute;
	top: -1px;
	right: -9px;
	width: 0;
	height: 0;
	border-width: 0px 10px 10px 0px;
	border-style: solid;
	border-color: #89e5c1;
	border-bottom-color: transparent;
}

.square_btn:active { /*繝懊ち繝ｳ繧呈款縺励◆縺ｨ縺�*/
	border: none;
	-ms-transform: translate(6px, 6px);
	-webkit-transform: translate(6px, 6px);
	transform: translate(6px, 6px);
}

.square_btn:active:after, .square_btn:active:before {
	content: none; /*繝懊ち繝ｳ繧呈款縺吶→邱壹′豸医∴繧�*/
}

.square_btn_modal_yes {
	display: inline-block;
	position: relative;
	padding: 0.1em 1em;
	text-decoration: none;
	background: #ffabbc; /*繝懊ち繝ｳ濶ｲ*/
	color: #f5385e;
	border-bottom: solid 9px #ef1a49; /*繝懊ち繝ｳ濶ｲ繧医ｊ證励ａ縺ｫ*/
	border-right: solid 9px #f5385e; /*繝懊ち繝ｳ濶ｲ繧医ｊ證励ａ縺ｫ*/
}

.square_btn_modal_yes:before {
	content: " ";
	position: absolute;
	bottom: -9px;
	left: -1px;
	width: 0;
	height: 0;
	border-width: 0 10px 10px 0px;
	border-style: solid;
	border-color: transparent;
	border-bottom-color: #FFF; /*閭梧勹莨ｼ蜷医ｏ縺帙ｋ */
}

.square_btn_modal_yes:after {
	content: " ";
	position: absolute;
	top: -1px;
	right: -9px;
	width: 0;
	height: 0;
	border-width: 0px 10px 10px 0px;
	border-style: solid;
	border-color: #FFF;
	border-bottom-color: transparent;
}

.square_btn_modal_yes:active { /*繝懊ち繝ｳ繧呈款縺励◆縺ｨ縺�*/
	border: none;
	-ms-transform: translate(6px, 6px);
	-webkit-transform: translate(6px, 6px);
	transform: translate(6px, 6px);
}

.square_btn_modal_yes:active:after, .square_btn_modal_yes:active:before
	{
	content: none; /*繝懊ち繝ｳ繧呈款縺吶→邱壹′豸医∴繧�*/
}

.square_btn_modal_no {
	display: inline-block;
	position: relative;
	padding: 0.1em 1em;
	text-decoration: none;
	background: #a4b3fc; /*繝懊ち繝ｳ濶ｲ*/
	color: #2743ef;
	border-bottom: solid 9px #1b00e7; /*繝懊ち繝ｳ濶ｲ繧医ｊ證励ａ縺ｫ*/
	border-right: solid 9px #0400d2; /*繝懊ち繝ｳ濶ｲ繧医ｊ證励ａ縺ｫ*/
}

.square_btn_modal_no:before {
	content: " ";
	position: absolute;
	bottom: -9px;
	left: -1px;
	width: 0;
	height: 0;
	border-width: 0 10px 10px 0px;
	border-style: solid;
	border-color: transparent;
	border-bottom-color: #FFF; /*閭梧勹莨ｼ蜷医ｏ縺帙ｋ */
}

.square_btn_modal_no:after {
	content: " ";
	position: absolute;
	top: -1px;
	right: -9px;
	width: 0;
	height: 0;
	border-width: 0px 10px 10px 0px;
	border-style: solid;
	border-color: #FFF;
	border-bottom-color: transparent;
}

.square_btn_modal_no:active { /*繝懊ち繝ｳ繧呈款縺励◆縺ｨ縺�*/
	border: none;
	-ms-transform: translate(6px, 6px);
	-webkit-transform: translate(6px, 6px);
	transform: translate(6px, 6px);
}

.square_btn_modal_no:active:after, .square_btn_modal_no:active:before {
	content: none; /*繝懊ち繝ｳ繧呈款縺吶→邱壹′豸医∴繧�*/
}

.ok-btn {
	font-weight: bold;
	font-size: 2rem;
}

.clear-box {
	background-color: transparent;
}

.round-input {
	border: none;
	border-radius: 100px;
	box-shadow: none;
	padding: 2rem 8px;
	text-align: center;
}

.share-btn {
	width: 5%;
	margin: 0.5rem 0.5rem 0.5rem 0;
}


/* canvas css 
.konvajs-content {
	width: 100% !important;
	height: auto !important;
	padding-bottom: 56%;
}

canvas {
	width: 114.285714% !important;
	height: 114.285714% !important;
}
*/
