.end_otsu{
	width:300px;
	position:relative;
		left:20%
}

.kakugen_title {
	text-align: center;
	font-size: 20pt;
	}
	
.kakugen_text {
	font-size: 30pt;
	font-weight: bold;
	text-align: center;
	position: relative;
	  top: 0px;
	  right: 0px;
	  bottom: 0px;
	  left: 0px;
	  margin: auto;
	
	  width: 1200px;
	
	}
	
.end_top{
	position: relative;
    bottom: 0px;
    left: 70%;
    width: 90px;
    height: 60px;
}
}