<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Chachat</title>
  <link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet">
  <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>
<body>
<input id="userNameHidden" type="hidden" th:value="|${session['userName']}|" readonly
></input>
  ツール的何か：
  <select id="tool">
    <option value="brush">ペンモード</option>
    <option value="eraser">消しゴムモード</option>
  </select>
  <button type=button id="create-tag">付箋召喚</button>
  <button type=button onclick="stageManager.pushStageData()">データプッシュ</button>
  <button type=button onclick="stageManager.syncStageDataFromServer();">データプル</button>
  <div class="row">
    <div class="col-md-2">
      <p>hoge</p>
    </div>
    <div class="col-md-10">
      <div id="container"></div>
    </div>
  </div>
  <div class="row">
   <textarea id="message-history" cols=100 rows=5 readonly style="overflow: hidden;resize: none;"></textarea> 
    </div>
  <div class="row">
  <form class="form-inline" id="chat-form">
    <div class="form-group">
    <label for="message" class="sr-only">chat</label>
    <input type="text" class="form-control" id="message" placeholder="input here">
  </div>
  <button type="submit" id="send-message-button" class="btn btn-default">送信</button>
  </form>
  </div>
  <!-- chat is here -->
  <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/konva/2.1.7/konva.min.js}"></script>
  <script th:src="@{/webjars/stomp-websocket/2.3.3-1/stomp.min.js}"></script>
  <script th:src="@{/webjars/sockjs-client/1.1.5/dist/sockjs.min.js}"></script>
  <script src="/js/collaborate_canvas.js" th:src="@{/js/collaborate_canvas.js}"></script>
  <script src="/js/collaborate_chat.js" th:src="@{/js/collaborate_chat.js}"></script>
</body>
</html>