<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Chachat</title>
<link href="https://fonts.googleapis.com/css?family=Chango"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
	integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
	crossorigin="anonymous">
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>
<body class="mx-auto text-center">

	<div class="container">
		<div id="title-area" class="w-75 mx-auto ">
			<img alt="chachat" th:src="@{/img/0725_rogo01.png}" class="w-100">
		</div>
		<h1 class="font-weight-bold mt-3"
			th:text="|〜${session.room.getRoomName()}〜|">Chachat</h1>
			
		<form class="mt-5" th:object="${loginForm}" th:action="|/rooms/${roomId}/|"
			method="post">
			<div class="mx-auto ok-btn">
				なまえ<input class="ml-4 w-50 round-input" th:field="*{userName}" type="text" required/>
			</div>
			<button type="submit" class="square_btn mt-3 ok-btn">お部屋にはいる</button>
		</form>
	</div>
</body>
</html>