<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Chachat</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
	integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
	crossorigin="anonymous">

<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>

</head>
<body id="body">

	<div class="container">
		<div id="title-area" class="w-75 mx-auto ">
			<img alt="chachat" th:src="@{/img/0725_rogo01.png}" class="w-100">
		</div>
		<form th:object="${registForm}" th:action="@{/}" method="post"
			autocomplete="off">
			<div id="form" class="mt-5">
				<div class="w-75 mx-auto">
					<input th:field="*{roomName}" type="text" placeholder="ルームネームを入力"
						class="w-100  round-input" required />
				</div>
				<div th:if="${valid_error == '1'}">
					<p>ちゃんと入れろよ！</p>
				</div>
				<div class="mx-auto mt-3 text-center">
					<button class="square_btn ok-btn">O K</button>
				</div>
			</div>
		</form>

		<div id="url-area" class="row mt-3 w-75 mx-auto"
			th:if="${valid_error == '0'}">
			<div class="col-11">
				<input id="copyTarget" type="text" th:value="|${url}|" readonly
					class="w-100 py-2"></input>
			</div>
			<div class="col-1">
				<button onclick="copyToClipboard()" class="square_btn py-2">
					<i class="far fa-copy"></i>
				</button>
			</div>
		</div>

	</div>
	<script>
		function copyToClipboard() {
			// コピー対象をJavaScript上で変数として定義する
			var copyTarget = document.getElementById("copyTarget");
			// コピー対象のテキストを選択する
			copyTarget.select();
			// 選択しているテキストをクリップボードにコピーする
			document.execCommand("Copy");
		}
	</script>
	<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>

</body>
</html>